<h1>Eric was here!!!!</h1>

<style type="text/css">
  
  body{
    background: url("https://www.lamborghini.com/en-en/sites/en-en/files/DAM/it/models_gateway/blocks/special.png")  no-repeat center center fixed;
  }
</style>