<h1>Pages#index</h1>
<h1>Jonathan was here</h1>

<h1>OCD isn't real.</h1>

<h1>Eric Was Here :) (rena sabatoged eric...)</h1>
<img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAqyAAAAJGE1YjM1MTE2LWMxYzEtNGRlYy1iMmRmLWFlNTQ5YmNkYTlkYQ.jpg">

<h1>Eric was here!!!!</h1>

<style type="text/css">
  
  body{
    background: url("https://www.lamborghini.com/en-en/sites/en-en/files/DAM/it/models_gateway/blocks/special.png")  no-repeat center center fixed;
  }
</style>
<h1>(rena sabatoged eric...)</h1>

<h3>Sup it's bona btw</h3>